In [10]:
import pandas as pd
movie_data = pd.read_csv('/home/zz/code/homework3/movies.csv')
rating_data = pd.read_csv('/home/zz/code/homework3/ratings.csv')
movie_data.dropna()
rating_data.dropna()
print(movie_data.head())
print(rating_data.head())

   movieId                               title  \
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

                                        genres
0  Adventure|Animation|Children|Comedy|Fantasy
1                   Adventure|Children|Fantasy
2                               Comedy|Romance
3                         Comedy|Drama|Romance
4                                       Comedy
   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [11]:
# 1
# 设置分段
bins = [0,1,2,3,4,5]

# 按分段离散化数据
segments=pd.cut(rating_data['rating'],bins,right=False)
# 每个评分区间的电影数
counts=pd.value_counts(segments,sort=False)
print(counts)

[0, 1)     1370
[1, 2)     4602
[2, 3)    13101
[3, 4)    33183
[4, 5)    35369
Name: rating, dtype: int64

In [75]:

# 2、3
list1 = movie_data["genres"].str.split("|").tolist()
# print(list1)

genre_list = []
for j in list1:
    for i in j:
        genre_list.append(i)

genre_list=list(set(genre_list))
print(genre_list)
import numpy as np
#构造全为0的数组,行数为电影的数量，列数为电影类型的个数
zeros = np.zeros((movie_data["genres"].shape[0],len(genre_list)))
#将为0的数组转化为DataFrame格式，列索引为电影类型
zeros_df = pd.DataFrame(zeros,columns =genre_list)
average_scores = pd.Series(0,index=genre_list,dtype=float)
for i in range(movie_data["genres"].shape[0]):
    #list1[i]为第i个电影的类型组成的列表
    zeros_df.loc[i,list1[i]] = 1
    sc = rating_data[rating_data['movieId']==movie_data.loc[i].movieId].mean(axis=0).rating
    if(not np.isnan(sc)):
        # print(i)
        # print(movie_data.loc[i].movieId)
        for li in list1[i]:
            average_scores[li] = average_scores[li] + sc

# print(average_scores) 

#统计每种类型的电影数
count1 = zeros_df.sum(axis = 0)
from sqlalchemy import create_engine
engine = create_engine("mysql+pymysql://zz:990506@47.97.175.255:3306/movie?charset=utf8")


count1_dict = {"categories":count1.index,"count":count1.values}
count2 = pd.DataFrame(count1_dict)
print(count2)
count2.to_sql("counts_between_categories", engine, schema="movie", if_exists='replace', index=True,
            chunksize=None, dtype=None)
# print(type(count1))
# 每种类型电影的平均得分
# print(average_scores/count1)
avgscore = (average_scores/count1)
avgscore = pd.DataFrame({"categories":avgscore.index,"avgscore":avgscore.values})
avgscore.to_sql("avgscore_between_categories", engine, schema="movie", if_exists='replace', index=True,
            chunksize=None, dtype=None)

['Crime', 'Horror', 'War', 'IMAX', 'Drama', 'Children', 'Romance', 'Comedy', 'Sci-Fi', 'Adventure', '(no genres listed)', 'Documentary', 'Fantasy', 'Western', 'Musical', 'Thriller', 'Animation', 'Mystery', 'Action', 'Film-Noir']
            categories   count
0                Crime  1199.0
1               Horror   978.0
2                  War   382.0
3                 IMAX   158.0
4                Drama  4361.0
5             Children   664.0
6              Romance  1596.0
7               Comedy  3756.0
8               Sci-Fi   980.0
9            Adventure  1263.0
10  (no genres listed)    34.0
11         Documentary   440.0
12             Fantasy   779.0
13             Western   167.0
14             Musical   334.0
15            Thriller  1894.0
16           Animation   611.0
17             Mystery   573.0
18              Action  1828.0
19           Film-Noir    87.0

In [76]:
# 4
print(rating_data.groupby("movieId").mean())
indeies = rating_data.groupby("movieId").count()['userId']>10
print(indeies)

print(rating_data.groupby("movieId").mean().sort_values(by="rating",ascending=False)[indeies].head(100))
rating_data.groupby("movieId").mean().sort_values(by="rating",ascending=False)[indeies].head(100).to_sql("avgscore_top100", engine, schema="movie", if_exists='replace', index=True,
            chunksize=None, dtype=None)

             userId    rating     timestamp
movieId
1        306.530233  3.920930  1.129835e+09
2        329.554545  3.431818  1.135805e+09
3        283.596154  3.259615  1.005110e+09
4        219.857143  2.357143  8.985789e+08
5        299.571429  3.071429  9.926643e+08
...             ...       ...           ...
193581   184.000000  4.000000  1.537109e+09
193583   184.000000  3.500000  1.537110e+09
193585   184.000000  3.500000  1.537110e+09
193587   184.000000  3.500000  1.537110e+09
193609   331.000000  4.000000  1.537158e+09

[9724 rows x 3 columns]
movieId
1          True
2          True
3          True
4         False
5          True
          ...
193581    False
193583    False
193585    False
193587    False
193609    False
Name: userId, Length: 9724, dtype: bool
             userId    rating     timestamp
movieId
1041     326.454545  4.590909  1.034645e+09
3451     344.454545  4.545455  1.107935e+09
1178     356.416667  4.541667  1.228711e+09
1104     318.450000  4.475000  1.114123e+09
2360     314.333333  4.458333  1.148923e+09
...             ...       ...           ...
122926   341.000000  4.156250  1.520864e+09
5690     338.375000  4.156250  1.286898e+09
4011     306.516129  4.155914  1.262076e+09
5618     317.551724  4.155172  1.323857e+09
3681     259.121212  4.151515  1.198047e+09

[100 rows x 3 columns]

/home/zz/miniconda3/envs/clip/lib/python3.7/site-packages/ipykernel_launcher.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

/home/zz/miniconda3/envs/clip/lib/python3.7/site-packages/ipykernel_launcher.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  import sys

In [80]:
zeros = np.zeros((movie_data["genres"].shape[0],len(genre_list)))
top10movie = pd.DataFrame(zeros,columns =genre_list)
top10movie['movieId'] = movie_data['movieId']
for i in range(movie_data["genres"].shape[0]):
    sc = rating_data[rating_data['movieId']==movie_data.loc[i].movieId].mean(axis=0).rating
    if(not np.isnan(sc)):
        for li in list1[i]:
            top10movie.loc[i,list1[i]] = sc
# print(top10movie[indeies])
indeies2 = indeies[indeies==True].index

top10movie = top10movie[top10movie.movieId.isin(indeies2)]
print(top10movie)

         Crime  Horror       War  IMAX     Drama  Children   Romance  \
0     0.000000     0.0  0.000000   0.0  0.000000  3.920930  0.000000
1     0.000000     0.0  0.000000   0.0  0.000000  3.431818  0.000000
2     0.000000     0.0  0.000000   0.0  0.000000  0.000000  3.259615
4     0.000000     0.0  0.000000   0.0  0.000000  0.000000  0.000000
5     3.946078     0.0  0.000000   0.0  0.000000  0.000000  0.000000
...        ...     ...       ...   ...       ...       ...       ...
9571  0.000000     0.0  3.423077   0.0  3.423077  0.000000  0.000000
9604  0.000000     0.0  0.000000   0.0  0.000000  0.000000  0.000000
9621  0.000000     0.0  0.000000   0.0  0.000000  3.538462  0.000000
9645  0.000000     0.0  0.000000   0.0  0.000000  0.000000  0.000000
9709  0.000000     0.0  0.000000   0.0  0.000000  0.000000  0.000000

        Comedy    Sci-Fi  Adventure  ...  Documentary   Fantasy  Western  \
0     3.920930  0.000000   3.920930  ...          0.0  3.920930      0.0
1     0.000000  0.000000   3.431818  ...          0.0  3.431818      0.0
2     3.259615  0.000000   0.000000  ...          0.0  0.000000      0.0
4     3.071429  0.000000   0.000000  ...          0.0  0.000000      0.0
5     0.000000  0.000000   0.000000  ...          0.0  0.000000      0.0
...        ...       ...        ...  ...          ...       ...      ...
9571  0.000000  0.000000   0.000000  ...          0.0  0.000000      0.0
9604  0.000000  3.805556   0.000000  ...          0.0  0.000000      0.0
9621  0.000000  0.000000   3.538462  ...          0.0  0.000000      0.0
9645  0.000000  3.125000   3.125000  ...          0.0  3.125000      0.0
9709  3.875000  3.875000   0.000000  ...          0.0  0.000000      0.0

      Musical  Thriller  Animation  Mystery    Action  Film-Noir  movieId
0         0.0  0.000000   3.920930      0.0  0.000000        0.0        1
1         0.0  0.000000   0.000000      0.0  0.000000        0.0        2
2         0.0  0.000000   0.000000      0.0  0.000000        0.0        3
4         0.0  0.000000   0.000000      0.0  0.000000        0.0        5
5         0.0  3.946078   0.000000      0.0  3.946078        0.0        6
...       ...       ...        ...      ...       ...        ...      ...
9571      0.0  3.423077   0.000000      0.0  3.423077        0.0   174055
9604      0.0  0.000000   0.000000      0.0  0.000000        0.0   176371
9621      0.0  0.000000   3.538462      0.0  0.000000        0.0   177765
9645      0.0  0.000000   0.000000      0.0  3.125000        0.0   179819
9709      0.0  0.000000   0.000000      0.0  3.875000        0.0   187593

[2121 rows x 21 columns]

In [83]:
print(top10movie.columns)

Index(['Crime', 'Horror', 'War', 'IMAX', 'Drama', 'Children', 'Romance',
       'Comedy', 'Sci-Fi', 'Adventure', '(no genres listed)', 'Documentary',
       'Fantasy', 'Western', 'Musical', 'Thriller', 'Animation', 'Mystery',
       'Action', 'Film-Noir', 'movieId'],
      dtype='object')

In [101]:
zeros = np.zeros((10,len(top10movie.columns[:-2])))
#将为0的数组转化为DataFrame格式，列索引为电影类型
top10data = pd.DataFrame(zeros,columns=top10movie.columns[:-2])

for col in top10movie.columns[:-2]:
    temp_data = top10movie.loc[:,[col,'movieId']]
    temp_data = temp_data.sort_values(by=col,ascending=False).head(10)
    temp_data.index = list(range(10))
    # print(temp_data)
    top10data.loc[:,col] = temp_data['movieId']
    # break
print(top10data)
top10data.to_sql("top10", engine, schema="movie", if_exists='replace', index=True,
            chunksize=None, dtype=None)

   Crime  Horror   War    IMAX  Drama  Children  Romance  Comedy  Sci-Fi  \
0    318    2160  1178   58559   1041      3213      951     951  168252
1   3435     593  1217   78499   3451     78499      922     905     260
2    858    1258  7156   79132   1178      1223      905     898    1196
3   2959    1261  1204  105504   1104     72226      898     176    2571
4   1248    1215   750   91529   2360      6350     1235    1235    1199
5   1221    1219  1267  109487   1217     26662      930     750    7361
6  48516   93840   527   81834    318     60069      912    3429     741
7   1267    8874  1208   60684   3468      2761     1197    1197    1210
8   1213    1387  1233  111759    922      1148       28     296     541
9  58559    7387  4967   76093   3435       953      933    4973    3503

   Adventure  (no genres listed)  Documentary  Fantasy  Western  Musical  \
0       1204                   1         7156     1197     1209     4642
1       3508                5464          246     1199     3508     2565
2       1197                5650        80906     1136     1283      899
3        260                5630          162   122926     2921    54190
4       3030                5620        77455     5618      800      914
5       1196                5618         1189     7153     3681     3910
6       1198                5617         6331    78499     1201      364
7       2019                5608        54881     4993     3037     1035
8        908                5577         1289    31658    56782    81847
9       1136                5574         2064     1251     1266    66934

   Thriller  Animation  Mystery  Action
0      2959       3429      904    1209
1      1248      55442       50  168252
2       904       5690     1212    2959
3     48516       5618      933    3508
4       930        741     1252   58559
5      1267       3213     3730    1197
6      3508      78499     1089     260
7        50        720      908    3030
8      1212       1223     1950    3275
9      1245      72226      913    1208